@import "../../../styles/variables.scss";
.suggestions {
  margin-bottom: 16px;
  list-style: none;
  padding: 15px 10px;
  box-sizing: border-box;
  width: 100%;
  min-width: 370px;
  min-height: 100px;
  background-color: $white;
  border-radius: 20px;
  // position: absolute;
  overflow: hidden;
  left: 0;
  // bottom: 100%;
  z-index: 3;
  box-shadow: 0px 4px 46px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  .placeHolder {
    text-align: center;
    @include normalFont;
    font-size: 15px;
    width: 100%;
  }
  .suggestionWrapper {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    user-select: none;
    .airportInfoWrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  .airportIconWrapper {
    width: 1.2rem;
    min-height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1.2rem;
    svg {
      color: $dark;
      min-width: 100%;
    }
  }
  ul {
    border-radius: 20px;
  }
  li {
    &:hover {
      background-color: $background;
    }
    &:first-child {
      border-radius: 10px 10px 0 0;
    }
    &:last-child {
      border-radius: 0 0 10px 10px;
    }
    @include semiBoldFont;
    font-size: 15px;
    color: $dark;
    background-color: $white;
    // display: flex;
    // align-items: center;
    padding: 15px 15px 15px 20px;
    svg {
      box-sizing: border-box;
      margin-right: 15px;
      // margin-top: -5px;
    }
    // div {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    // }
    span {
      &:last-child {
        font-size: 14px;
        color: gray;
      }
    }
  }
}
@media only screen and (max-width: 790px) {
  .suggestions {
    position: fixed;
    bottom: 0;
    top: 50px;
    // padding-top: 80px;
    // position: fixed;
    height: 100vh;
    border-radius: 0;
    justify-content: flex-start;
    box-shadow: unset;
  }
}
