@import "../../../styles/variables.scss";

.dateFieldsWrapper {
  display: flex;
  justify-content: space-between;
}
.dayPickerWrapper {
  position: relative;
  left: -80px;
  background-color: $white;
  padding: 30px !important;
  border-radius: 20px;
}
.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.doneBtn {
  background-color: $primary;
  color: $white;
  padding: 0.7rem 2rem;
  margin-right: 7px;
  margin-top: 15px;
  border-radius: 5px;
  float: right;
  width: 7rem;
}
@media screen and (max-width: 790px) {
  .dayPickerWrapper {
    position: relative;
    left: 0;
    right: 0;
    // padding: 0px;
    // top: 65px;
    border-radius: 0;
    min-width: unset;
    padding: 65px 0 0 0 !important;
  }
  .buttonWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
    background: white;
    .doneBtn {
      margin: 0 10px;
      width: 100%;
    }
  }
}
