@import "../../../styles/variables.scss";

.overlay {
  position: absolute;
  bottom: 100%;
}

.dayPickerWrapper {
  position: relative;
  left: -80px;
  background-color: $white;
  padding: 30px !important;
  border-radius: 20px;
}

.doneBtn {
  background-color: $primary;
  color: $white;
  padding: 0.7rem 2rem;
  margin-right: 7px;
  margin-top: 15px;
  border-radius: 5px;
  float: right;
}
