@import "../../style/universal.scss";
.searchTabs {
    // background: rgba(255, 255, 255, 0.22);
    background-color: gray;
    backdrop-filter: blur(50px);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: left;
    align-content: center;
    width: 40%;
    height: 60px;

    .searchTab {
        @include semiBoldFont;
        font-size: 18px;
        background-color: transparent;
        color: $white;
        border: none;
        width: 25%;
    }
    #active {
        background-color: $background;
        color: $dark;
    }
}

.form {
    display: flex;
    background-color: $background;
    border-radius: 0px 10px 10px 10px;
    box-sizing: border-box;
    width: 70%;
    padding: 3% 3% 3% 3%;
    .inputAndSuggestion {
        box-sizing: border-box;
        height: 94px;
        width: 33%;
        padding-right: 20px;
        transition: width 0.3s;
    }
    .searchFieldWrapper {
        display: flex;
        padding: 20px;
        align-items: center;
        height: 94px;
        width: 100%;
        background-color: $white;
        border-color: $white;
        border-radius: 11px;
        box-sizing: border-box;
        img {
            margin-right: 25px;
            width: 25px;
            height: 25px;
        }
    }
    .searchField {
        display: flex;
        flex-direction: column;
        label {
            @include semiBoldFont;
            font-size: 14px;
            width: fit-content;
            color: #8b8b8b;
        }
        input {
            @include semiBoldFont;
            color: $dark;
            font-size: 16px;
            border: none;
            background-color: $white;
            padding: 0;
            width: 90%;
            transition: all 1s ease;
            &:focus {
                outline: none;
            }

            &:focus::placeholder {
                color: transparent;
            }
            &::placeholder {
                opacity: 1;
                color: $dark;
            }
        }
    }
    #dateSearchField {
        box-sizing: border-box;
        height: 94px;
        min-width: 34%;
        width: 34%;
        .searchFieldWrapper {
            width: 48%;
            &:first-child {
                width: 52%;
            }
        }
    }
}
