@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
$primary: #4f96f7;
$dark: #0a1f39;
$white: #f7f9fc;
$background: #eff0f7;
html,
body {
    padding: 0;
    margin: 0;
    background-color: $background;
    color: $dark;
}

button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: $dark;
}
@mixin semiBoldFont {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
}
