@import "../../../styles/variables.scss";
.modal {
  .suggestions {
    top: 100%;
    // background-color: red;
  }
  .aSearchField {
    &::after {
      content: none;
    }
    svg {
      display: none;
      // color: red;
    }
    padding-left: 15vw;
    position: relative;
    // top: 15px;
    left: 0;
    right: 0;
  }

  .modalCloseBtn.dateModalCloseBtn {
    position: relative;
    margin: 20px 0 0 20px;
  }
  .closeDateModal {
    width: 100%;
  }
  .recommendation {
    width: 100% !important;
  }
  // .travellers {
  //   position: relative;
  //   top: 50px;
  // }
  .searchButtonWrapper {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: white;
    // left: 55px;
    .button {
      position: relative;
      left: 60px;
      top: 20px;
    }

    & > button svg {
      display: none;
    }
  }
}
.travellers {
  position: relative;
}
.suggestions {
  position: absolute;
  left: 0;
  right: 0;
  // top: 10%;
  bottom: 100%;
}
.dateOverlay {
  position: absolute;
  bottom: 100%;
}
.hotelSearchFields {
  .searchFragment {
    flex-grow: 5;
  }
  .searchFragment.dateSearchField {
    flex-grow: 1;
    height: inherit;
  }
  .dateSearchField {
    height: 100%;
  }
}
.carsSearchFields {
  margin-top: 30px;
  .column {
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.filterButtonWrapper.inModal {
  .button {
    width: 100%;
    height: 65px;
    background-color: white;
    justify-content: flex-start;
    padding-left: 40px;
    font-weight: 300;
    svg {
      visibility: hidden;
    }
  }
}

.optionsWindow {
  @include normalFont;
  font-size: 14px;
  color: $dark;
  position: absolute;
  bottom: 100%;
  background: $white;
  width: 300px;
  z-index: 2;
  box-shadow: 0px 4px 46px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  .flightTypeIcon {
    position: relative;
    width: 1.8rem;
    top: -0.2rem;
  }
  &.inModal {
    position: relative;
    font-size: 14px;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    height: min-content;
    border-radius: 0;
    ul {
      width: 100%;
    }
  }
  ul {
    padding: 10px 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      button {
        color: $primary;
      }
      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }
}
.form {
  box-shadow: 0px 4px 60px 6px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0 10px 10px;
  border-radius: 20px;
  background: rgb(239, 240, 247);
  background: radial-gradient(
    circle,
    rgba(239, 240, 247, 1) 0%,
    rgba(247, 249, 252, 1) 35%,
    rgba(239, 240, 247, 1) 100%
  );
  padding: 0 3% 3% 3%;
  opacity: 0.99;
}
.searchTabs {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 55px;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 1;
  .searchTab {
    background-color: transparent;
    height: 100%;
    width: 25%;
    margin-bottom: -4px;
    .button {
      @include semiBoldFont;
      height: 100%;
      color: $dark;
      opacity: 0.7;
      font-size: 14px;
    }
  }
  #active {
    opacity: 1;
    color: $primary;
    border-bottom: 2px solid $primary;
  }
}
.singleDateField {
  display: flex;
  align-items: center;
  width: 50%;
}
.textFieldWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $dark;
  // pointer-events: all;
  cursor: pointer;
  padding: 24px 24px 24px 28px;
  border-radius: 18px;
  background-color: $white;
  box-shadow: 0px 4px 18px 11px rgba(0, 0, 0, 0.03);

  label {
    pointer-events: none;
  }
  svg {
    margin-right: 25px;
    height: 25px;
    min-width: 25px;
    opacity: 0.8;
  }
  .textField {
    @include semiBoldFont;
    display: flex;
    gap: 1.3px;
    cursor: pointer !important;
    flex-direction: column;
    white-space: nowrap;
    label {
      font-size: 14px;
    }
    input {
      display: block;
      opacity: 0.6;
      font-size: 15px;
      width: 90%;
      @include normalFont;
      &::placeholder {
        @include normalFont;
        font-size: 15px;
      }
    }
  }
}

.searchFields {
  position: relative;
  z-index: 2;
  border-top: 2px solid rgba(10, 31, 56, 0.03);
}
// aSearchField is a universal class for search fields
.aSearchField {
  // & > div {
  display: flex;
  // }
  flex-direction: column;
  justify-content: center;
  // pointer-events: all;
  cursor: pointer;
  & > * {
    cursor: pointer;
    // pointer-events: none;
  }
  flex-grow: 2;
  flex-basis: auto;
  // position: relative;
  // padding: 24px 0 24px 28px;
  // padding: 24px 24px 24px 28px;
  // border-radius: 18px;
  // position: relative;
}
.searchFragment {
  position: relative;
  margin-right: 1.5%;
  background: transparent;
  flex-grow: 2;
  &.dateSearchField {
    flex-grow: unset;
  }
}
.fieldWrapper {
}
.dateSearchField {
  // flex-grow: 1;
  // height: 100%;
  svg {
    min-width: 20px;
    width: 20px;
    margin-right: 20px;
  }
  .textFieldWrapper {
    // width: 50%;
    &:first-child {
      // margin-right: 1rem;
    }
    input {
      width: 6rem;
    }
  }
  // max-width: 30%;
}
.options {
  display: flex;
  padding: 22px 2% 22px 0;
  color: $dark;
  gap: 22px;
  justify-content: flex-start;

  .button {
    @include semiBoldFont;
    flex-direction: row-reverse;
    color: $primary;
    font-size: 14px;
    svg {
      margin: 0px 0 2px 5px;
      width: 20px;
      height: 20px;
    }
  }
}
.fields {
  display: flex;
  justify-content: space-between;
}
.flightSearchFields {
  .flightSearchField {
    // transition: 0.3s;
    // &:focus-within {
    //   flex-grow: 5;
    // }
  }
}

.searchButton {
  span {
    display: none;
  }
  width: 6.5%;
  min-width: 78px;
  border-radius: 25px;
  background-color: $primary;
  svg {
    width: 30px;
    height: 30px;
  }
}
.searchFragment.inModal {
  .textFieldWrapper {
    padding-left: 15vw;
    &::after {
      content: none;
    }
    svg {
      display: none;
      // color: red;
    }
  }
  position: relative;
  // top: 15px;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 1280px) {
  .textField {
    label {
      display: none;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .options {
    & > div {
      padding: 1.4vw 4vw 1.4vw 6%;
      background-color: rgb(79, 150, 247, 0.1);
      border-radius: 10px;
    }
  }
  .searchTabs {
    width: 100%;
    .searchTab {
      display: flex;
      justify-content: center;
    }
  }
  .searchFragment {
    width: 49%;
    max-width: 49%;
    flex-grow: 2;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .textFieldWrapper {
    padding: 2vw 0 2vw 6%;
    border-radius: 7px;
  }
  .aSearchField {
    svg {
      width: 20px;
      height: 20px;
    }
    margin-bottom: 15px;
  }
  .fields {
    flex-wrap: wrap;

    .dateSearchField {
      // margin-bottom: 0;
      height: auto;
    }
    .searchButton {
      flex-grow: 1;
      border-radius: 7px;
      max-width: 49%;
      margin-bottom: 1rem;
    }
    // .hotelSearchField:first-child {
    //   width: 100%;
    //   max-width: unset;
    // }
  }
}
#modalRoot {
  .searchFragment {
    max-width: unset;
    height: 100%;
  }
}
.aSearchField {
  &.inModal {
    // border-bottom: 2px solid rgb(218, 218, 218) !important;
    justify-content: flex-start;
    .textFieldWrapper {
      background-color: $white;
      &::after {
        content: none;
      }
      & svg {
        visibility: hidden;
      }
    }
  }
}
.searchFragment.dateSearchField.inModal {
  // border-radius: 0 0 20px 20px;
  // overflow: hidden;
  .textFieldWrapper {
    z-index: 100;
    &:after {
      content: none;
    }
  }
}
@media only screen and (max-width: 650px) {
  .suggestions {
    top: 0;
  }

  .textFieldWrapper {
    .textField {
      width: 90%;
    }
  }
  .dateSearchField {
    .textFieldWrapper {
      &:first-child {
        margin: 0;
      }
      svg {
        margin-right: 30px;
      }
    }
  }
  .dateOverlay.inModal {
    // position: relative;
    // background-color: red;
    bottom: 0;
    width: 100%;
  }

  .options {
    & > div {
      // width: 30%;
      padding: 2vw 4vw 2vw 6%;
      background-color: rgb(79, 150, 247, 0.1);
      border-radius: 5px;
    }
  }
  .form {
    box-shadow: unset;
    background: $background;
  }
  .searchFragment {
    max-width: unset;
    margin-right: 0;
    height: 100%;
    width: unset;
    &:first-child {
      .textFieldWrapper {
        border-radius: 20px 20px 0 0;
        overflow: hidden;
      }
    }
    & .dateSearchField {
      border-radius: 0 0 20px 20px;
      overflow: hidden;
    }
  }
  .searchFragment {
    margin: 0;
    padding: 0;
    .textFieldWrapper {
      padding: 4vw 0 4vw 6%;
      margin: 0;
      box-shadow: unset;
      border-radius: 0;
      opacity: 1;
      position: relative;
      height: 65px;
      &::after {
        content: "";
        position: absolute;
        border: 1px solid $dark;
        opacity: 0.1;
        width: 80%;
        right: 0;
        bottom: 0;
      }
    }
    z-index: 5;
    // height: 13vw;
    svg {
      opacity: 0.7;
    }

    &.hotelSearchField {
      flex-grow: 5;
    }
  }
  .fields {
    flex-direction: column;
    overflow: hidden;

    .searchFragment.dateSearchField {
      border-radius: 0 0 20px 20px;
      overflow: hidden;
      .textFieldWrapper {
        &:after {
          content: none;
        }
      }
    }

    .searchButton {
      padding: 3vw 25vw;
      max-width: unset;
      width: 100%;
      margin: 20px 0 !important;
    }
  }
}
