@import "./variables.scss";
.rdp-months {
}
.Range {
  width: auto !important;
  position: relative !important ;
  margin: 0 !important;
  .DayPicker-Caption {
    padding-left: 45px !important ;
  }
}

.DayPickerInput {
  input {
    cursor: pointer !important;
  }
}
.Range {
  .DayPicker-NavButton--prev {
    display: block !important ;
    left: 22px !important;
    top: 18px !important;
    right: auto !important;
    width: 17px !important;
    height: 18px !important;
  }
}
.Range {
  .DayPicker-NavButton--next {
    width: 17px !important;
    height: 18px !important;
  }
}

.Range {
  @include semiBoldFont;
}
.Range .DayPicker-Day--start:not(.DayPicker-Day--outside) {
  background-color: #4f96f7 !important ;
  color: #f0f8ff !important;
  border-radius: 10%;
}
.Range .DayPicker-Day--end:not(.DayPicker-Day--outside) {
  background-color: #4f96f7 !important ;
  color: #f0f8ff !important;
  border-radius: 10%;
}

.Range
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  // background-color: #f0f8ff !important;
  color: #4a90e2 !important;
}

.Range .DayPicker-Day {
  border-radius: 0;
}
.Range {
  .DayPicker-Months {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }
}

.DayPickerInput-OverlayWrapper {
  position: absolute !important ;
  z-index: 3;
  left: -30%;
  bottom: 100%;
  margin-bottom: 16px;
  .DayPickerInput-Overlay {
    position: absolute;
    left: 0;
    bottom: 100%;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
  }
}
.enclosure {
  width: 70%;
  position: relative;
  left: 200px;
  z-index: 1;
  input {
    width: 200px;
  }
}
.rdp {
  --rdp-accent-color-dark: #4f96f7 !important;
  --rdp-accent-color: #4f96f7 !important;
  --rdp-background-color-dark: #4f96f7 !important;
}

@media only screen and (max-width: 650px) {
  .DayPickerInput-OverlayWrapper {
    position: absolute !important;
    left: 0;
    right: 0;
    width: 100%;
    // width: 100vw !important ;
    margin-bottom: 0 !important;

    // position: relative;
    // top: 100px !important;
    // left: 0 !important;
  }
  .DayPickerInput-OverlayWrapper .DayPickerInput-Overlay {
    box-sizing: border-box !important;
    width: 94vw !important ;

    top: 100px !important;
    // bottom: 0 !important;
    left: 0px !important;
    right: 0px !important ;
    margin: 0 auto;
    // right: 0px !important;
    height: 70vh;
  }
  .DayPicker.Range {
    width: 100%;
    .DayPicker-Months {
      display: flex;
      flex-direction: column !important;
      flex-wrap: nowrap !important;
      width: 100%;
    }
  }
  .rdp-months {
    flex-direction: column !important;
    align-items: center;
  }
  .rdp {
    --rdp-cell-size: 13vw !important;

    overflow: scroll;

    .rdp-caption_label {
      font-size: 15px;
      @include normalFont;
    }
  }
}

// .rdp {
//   --rdp-cell-size: 40px;
//   --rdp-accent-color: #4f96f7 !important;
//   --rdp-background-color: #e7edff;
//   /* Switch to dark colors for dark themes */
//   --rdp-accent-color-dark: #3003e1;
//   --rdp-background-color-dark: #180270;
//   /* Outline border for focused elements */
//   --rdp-outline: 2px solid var(--rdp-accent-color);
//   /* Outline border for focused and selected elements */
//   --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
// }
