@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
$primary: #4f96f7;
$dark: #0a1f38;
$white: #f7f9fc;
$background: #eff0f7;
@mixin normalFont {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@mixin semiBoldFont {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin boldFont {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 800;
}
