@import "../../style/universal.scss";

.flightSearchPage {
    display: flex;
    width: 70%;
    background-color: #f7f9fc;
    box-shadow: 0px 4px 17px 5px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    .sideBar {
        @include semiBoldFont;
        min-width: 330px;
        width: 30%;
        padding: 2% 0 2% 3%;
        .littleTabs {
            display: flex;
            justify-content: center;
            gap: 50px;
            margin-bottom: 40px;
            margin-top: 20px;
            .littleTab.button {
                flex-direction: column;
                gap: 5px;
                color: $dark;
            }
        }
        .sideBarSection {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 10%;
            background-color: #ffff;
            border-radius: 20px;
            box-shadow: 0px 4px 17px 5px rgba(0, 0, 0, 0.03);
            margin-bottom: 20px;
        }
        .addExtra {
            .addHotel {
                margin-bottom: 15px;
            }
            input {
                margin: 0 10px 0 0;
            }
        }
        #activeLittleTab {
            color: $primary;
        }
        .searchTerms {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10% 1% 0 10%;
            gap: 6%;
            label {
                @include normalFont;
                font-size: 14px;
            }
            input {
                width: 90%;
                margin-top: 3px;
                font-size: 15px;
            }
            .searchInput {
                display: flex;
                flex-direction: column;
            }
            .lilSearchField {
                width: 47%;
                margin-bottom: 40px;
            }
            .lilDateFields {
                width: 100%;
                gap: 6%;
                white-space: nowrap;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    .flightOffers {
        padding: 4%;
        width: 70%;
        .flightOffer {
            background: #ffffff;
            box-shadow: 4px 4px 30px 7px rgba(0, 0, 0, 0.03);
            margin-bottom: 20px;
        }
    }
}
@media only screen and (max-width: 1280px) {
    .flightSearchPage {
        width: 95%;
    }
}

@media only screen and (max-width: 1024px) {
    .flightSearchPage {
        .sideBar {
            min-width: 280px;
            font-size: 14px;
            .littleTabs {
                gap: 35px;
                font-size: 14px;
            }
        }
    }
}
@media only screen and (max-width: 790px) {
    .flightSearchPage {
        flex-direction: column;
        background: none;
        box-shadow: unset;
        .sideBar {
            // display: none;
            .searchTerms {
                background: none;
                box-shadow: unset;
                gap: 0;
                flex-wrap: nowrap;
                padding: 2% 0 2% 0;
                overflow: auto;
                .lilSearchField {
                    background-color: $white;
                    padding: 20px;
                    min-width: 130px;
                    margin-right: 20px;
                    border-radius: 20px;
                }
                .lilDateFields {
                    flex-wrap: nowrap;
                }
            }
        }
        .flightOffers {
            width: 100%;
            padding: 0;
        }
        .sideBar {
            width: 100%;
            padding: 0;
        }
    }
}
@media only screen and (max-width: 650px) {
    .flightSearchPage {
        margin-top: 70px;
    }
}
